@font-face {
  font-family: BrandonText-Bold;
  src: url(../fonts/Brandon_bld.otf);
}

@font-face {
  font-family: BrandonText-Light;
  src: url(../fonts/Brandon_light.otf);
}

html, body {
  font-family: BrandonText-Light;
  font-size: 1.7vw;
  color: rgb(255,255,255);
  text-shadow: 1px 1px #000000;
  background-color: rgb(201,201,255);
}

h1 {
  font-family: BrandonText-Bold;
  font-size: 5.9vw;
  margin-bottom: 0;
}

h2 {
  font-size: 2.4vw;
  margin-top: 0;
}

.container {
  margin: auto;
  width: 60%;
  text-align: center;
}