@font-face {
  font-family: BrandonText-Bold;
  src: url(/static/fonts/Brandon_bld.otf);
}

@font-face {
  font-family: BrandonText-Light;
  src: url(/static/fonts/Brandon_light.otf);
}

body {
  font-family: BrandonText-Light;
  font-size: 1.7vw;
  color: rgb(255,255,255);
  text-shadow: 1px 1px #000000;
  background-color: rgb(201,201,255);
}

h1 {
  font-family: BrandonText-Bold;
  font-size: 5.9vw;
  margin-bottom: 0;
}

h2 {
  font-size: 2.4vw;
  margin-top: 0;
}

.container {
  margin: auto;
  width: 60%;
  text-align: center;
}

.form_button {
  background-color: #779ECB;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.content {
  margin: auto;
  /* height: 300px; */
  width: 80%;
}