<!DOCTYPE html>
<html>
  <head>
    <title>MeetMe</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css')}}">

    <!-- jquery from a content distribution network; probably cached -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  </head>
  <body>
    <div class="container">
       {% with messages = get_flashed_messages() %}
         {% if messages %}
          <ul class=flashes>
           for message in messages %}
            <li>{{ message }}</li>
           endfor %}
          </ul>
         {% endif %}
       {% endwith %}
      <h1>MeetMe</h1>
      <h2>Figure out when to meet!</h2>
      <h4>Below are sections of free times that everyone who has submitted can make!</h4>
      <div class="content" id="calendar">
        {% if g.freetime is defined %}
        <table border="1">
          <tr>
        {% for event in g.freetime %}
            <td>{{ event.date }}<hr>{{ event.start_time }} - {{ event.end_time }}</td>
        {% if loop.index is divisibleby 7 %}
          </tr>
          <tr>
        {% endif %}
        {% endfor %}
          </tr>
        </table>
        {% endif %}
        {% if g.db_id is defined %}
        <h2>Share this link with your friends!</h2>
        <h3><a href="{{ url_for('invite', db_id=g.db_id, _external=True) }}" target='_blank'>{{ url_for('invite', db_id=g.db_id, _external=True) }}</a><h3>
        {% endif %}
      </div>
    </div>
  </body>
</html>