<!DOCTYPE html>
<html>
  <head>
    <title>MeetMe</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css')}}">

    <!-- jquery from a content distribution network; probably cached -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js')}}"></script>
  </head>
  <body>
    <div class="container">
       {% with messages = get_flashed_messages() %}
         {% if messages %}
          <ul class=flashes>
           for message in messages %}
            <li>{{ message }}</li>
           endfor %}
          </ul>
         {% endif %}
       {% endwith %}
      <h1>MeetMe</h1>
      <h2>Figure out when to meet!</h2>
      <div class="content" id="creator_view">
        Start Date <input type="date" name="start_date"><br />
        End Date <input type="date" name="end_date"><br />
        Start Time <input type="time" name="start_time"><br />
        End Time <input type="time" name="end_time"><br />
        <button class="form_button" id="date">Next Step: Calendars</button>
      </div>
      <div class="content" id="calendar_pick">
        <form>
         <fieldset name="calendars">
          <legend>Calendars</legend>
         </fieldset>
        </form>
        <button class="form_button" id="calendars">Next Step: Conflicts</button>
      </div>
      <div class="content" id="conflict_pick">
        <form action="/create" method="post">
         <fieldset name="conflicts">
          <legend>Conflicts</legend>
         </fieldset>
         <input type="submit" class="form_button" id="conflicts" value="Next Step: Create!">
        </form>
      </div>
      <div class="content" id="jump_to_calendar">
        <h2>-OR-</h2>
        <h4>I already have a calendar ID</h4>
        <form action="/request_calendar" method="post">
         <input type="text" name="cal_id"><br>
         <input type="submit" class="form_button" id="conflicts" value="Go To Existing Calendar">
        </form>
      </div>
    </div>
  </body>
</html>
