<!DOCTYPE html>
<html>
  <head>
    <title>MeetMe</title>
    <!-- MIGHT HAVE TO REMOVE ../ FOR PRODUCTION -->
    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"/>

    <script type="text/javascript" src="../static/js/script.js"></script>

    <!-- jquery from a content distribution network; probably cached -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
  </head>
  <body>
    <div class="container">
      <h1>MeetMe</h1>
      <h2>Figure out when to meet!</h2>
      <!-- for use later
      <form>
       <fieldset>
        <legend>Calendars</legend>
        <input type="checkbox" value="calendar1"> Calendar 1<br />
        <input type="checkbox" value="calendar2"> Calendar 2<br />
        <input type="checkbox" value="calendar3"> Calendar 3<br />
       </fieldset>
      </form>
      <button class="formButton">Button</button>
      -->
    </div>
  </body>
</html>
